<div>
    <table border="2">
        <thead>
            <tr>
                <th>Subcategory</th>
                <th>Price</th>
                <th>Cart</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="toyData in toyData">
                <td><span data-ng-bind="toyData.subcategory"></span></td>
                <td><span>$</span><span data-ng-bind="toyData.price"></span></td>
                <td>
                    <button data-ng-click="addItem($index)">+</button>
                    <button data-ng-click="removeItem($index)">-</button>
                </td>
                <td><span data-ng-bind="toyData.count"></span></td>
            </tr>
        </tbody>
    </table>
    <a href="#viewCart">Proceed >>> </a>
</div>
