<div class="row">
    <div class="col-sm-2">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div>
            <div ng-repeat = "toyCat in toyCategory">
                <div ng-repeat = "(toyKey, toyValue) in toyCat.items">
                    <div ng-repeat = "(key,value) in toyValue">
                        <span ng-if="value.flag"><input type="checkbox" ng-click="showHide(key)">{{key}}</span>
                        <div ng-if="key==='attributes'" ng-repeat = "attribute in value">
                            <div ng-repeat="attr in attribute">
                                <span ng-if="attr.flag">{{attr.label}}</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-hide="hideid">
                        <a href="" ng-click="changeTableOrder('toy.toyid.id')">
                            Toy Id {{toy.toyid.id}}
                            <span ng-show="!sortOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortOrder" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th ng-hide="hidetoyname">
                        <a href="" ng-click="changeTableOrder('toy.toyname.name')">
                            Toy Name 
                            <span ng-show="!sortOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortOrder" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th ng-hide="hidetoycategory">
                        <a href="" ng-click="changeTableOrder('toy.toycategory.category')">
                            Toy Category 
                            <span ng-show="!sortOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortOrder" class="fa fa-caret-up"></span>
                        </a></th>
                    <th ng-hide="hidetoyprice">
                        <a href="" ng-click="changeTableOrder('toy.toyprice.price')">
                            Price 
                            <span ng-show="!sortOrder" class="fa fa-caret-down"></span>
                            <span ng-show="sortOrder" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="">
                            Custom Attribute
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat = "toyCat in toyCategory| orderBy:orderByField:sortOrder">
                <tr ng-repeat = "toy in toyCat.items">
                    <td ng-hide="toy.toyid.hideFlag">{{toy.toyid.id}}</td>
                    <td ng-hide="toy.toyname.hideFlag">{{toy.toyname.name}}</td>
                    <td ng-hide="toy.toycategory.hideFlag">{{toy.toycategory.category}}</td>
                    <td ng-hide="toy.toyprice.hideFlag">{{toy.toyprice.price | currency : "INR" : 2}}</td>
                    <td>
                        <table ng-repeat = "attributes in toy.attributes[0]">
                            <tbody>
                                <td>{{attributes.label}} : {{attributes.value}}</td>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
